<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
   <plugins>
      <!-- com.github.pagehelper为PageHelper类所在包名 -->
      <plugin interceptor="com.github.pagehelper.PageHelper">
        <property name="dialect" value=""/>
        <!-- 该参数默认为false -->
        <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
        <!-- 和startPage中的pageNum效果一样-->
        <property name="offsetAsPageNum" value="true"/>
        <!-- 该参数默认为false -->
        <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
        <property name="rowBoundsWithCount" value="true"/>
        <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
        <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
        <property name="pageSizeZero" value="true"/>
        <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
        <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
        <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
        <property name="reasonable" value="true"/>
        <property name="validationQuery" value="select * from dual"/>
        <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
        <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
        <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,不配置映射的用默认值 -->
        <property name="params" value="pageNum=start;pageSize=limit;pageSizeZero=zero;reasonable=heli;count=contsql"/>
      </plugin>
   </plugins>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${name}" />
				<property name="password" value="${password}" />
				<property name="defaultAutoCommit" value="true" />
				<property name="poolPingEnabled" value="false" />
				<property name="poolMaximumActiveConnections" value="500" />
				<property name="poolMaximumIdleConnections" value="0" />
			</dataSource>
		</environment>
	</environments>
	
   <mappers>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/AccountInfo.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/Calendar.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/Carlist.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/CarsVo.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/DeviceInfo.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/DeviceType.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/ExitEntryBind.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/NameList.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/NotAllowRecord.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/ParkingRecord.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/ParkParameters.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/ParkPassageway.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/Park.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/Report.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/Security.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/ParkingSet.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/ParkingSetType.xml"/>
      <mapper resource="com/kingdy/parkos/dao/sqlmap/mysql/Sync.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/CCFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/CKFEH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/CWNPD.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/DCFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/DXTDD.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/GCFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/JCFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/LLFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/LTFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/LTIPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/MFFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/MFIPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/RKFEH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/SRIEH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/SRIPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/TCFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/TCIPD.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/TFTPD.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/TYFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/WSIPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/WXIPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/XCFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/XGNPD.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/XJIPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/YCFEH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/YCFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/YHFPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/YSIPH.xml"/>
      <mapper resource="com/kingdy/parkos/dao/extract/sqlmap/mysql/ZFIPH.xml"/>
   </mappers>
</configuration>